@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  list-style: none;
}

header{ 
  z-index: 999;
  display: flex;
  padding:10px 100px;
  background-color: white;
  box-shadow: 0.2px 0.2px 20px rgb(39, 35, 34);
}

.app-name{
  color: rgb(39, 160, 160);
  font-size: large;
  font-weight: bolder;
  padding: 0px 100px 0px 450px;
}
.nav-links{
display:flex;
}
.color-simple{
  color: black;
padding: 0px 5px;
padding-left: 50px;
}

.color-hex:hover, .color-simple:hover{
  cursor: pointer;
  color: rgb(39, 160, 160);;

}
.color-hex{
  color: black;
  padding: 0px 5px;
}
.container{
  background-color: rgba(0, 0, 0, 0.24);
  width: 100%;
  
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  min-height: 10px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius:5px ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}
#click-me{
  background-color: transparent;
  border: 2px solid ;
  margin:15px;
  padding:10px 15px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#click-me:hover,active{
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}